%footer
  .container
    .row
      .col-md-4.col-xs-12
        = image_tag 'logo-enigma-telematics.png', alt: 'Enigma Telematics', class: 'footer-logo'
        = link_to 'http://www.viasatgroup.it' do
          = image_tag 'logo-viasat.png', alt: 'VIASTA Group', class: 'footer-logo'
      .col-md-5.col-xs-12.text-center
        %ul.list-unstyled.contact-info
          %li 0844 800 9926
          %li= mail_to 'info@enigmatelematics.com', 'info@enigmatelematics.com'
      .col-md-3.col-xs-12.text-center
        %ul.list-unstyled.social-links
          %li
            = link_to 'https://twitter.com/enigmasystems' do
              %i.icon.icon-twitter
          %li
            = link_to 'https://www.facebook.com/EnigmaTelematics' do
              %i.icon.icon-facebook
          %li
            = link_to 'javascript: void(0);' do
              %i.icon.icon-youtube
          /
            %li
              = link_to 'javascript: void(0);' do
                %i.icon.icon-gplus
    .row.text-center
      %ul.list-unstyled.site-links
        %li= link_to 'LINKS', 'javascript: void(0);'
        %li= link_to 'TERMS', 'javascript: void(0);'
        %li= link_to 'SITE MAP', 'javascript: void(0);'
        %li= link_to 'PRIVACY', 'javascript: void(0);'
    .row.text-center
      .col-xs-12
        .border-bottom
          %small Copyright (©) 2014 E: info@enigmatelematics.com T: 0844 800 9926 (UK) +44(0)1702 507200 (international) F: 0844 800 9052 (UK) +44(0)1702 511978 (international) Company number 2708351. Registered in England and Wales. Designed by BarberJackson & developed by RightWebDesign.
